<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" classs="brand-logo center">StoryBooks PIPELINE-TEST-Final 12.11  </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            {{#if user}}
            <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            {{else}}
            <li><a href="/">Public Stories</a></li>
            {{/if}}
            
            {{#if user }}
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}  
        </ul>
    </div>
</nav>
